<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zach的技术社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 导入bootstrap的CSS样式 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <!-- 顶部栏 -->
    <div th:replace="commons/common::topbar"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h2 th:text="${problem.getTitle()}"></h2>
                <p>[[ ${problem.getContent()} ]]</p>
            </div>
            <div class="col-xs-6 col-md-4">占位符</div>
        </div>
    </div>


</body>
</html>